<section class="section-notifications">

  <section class="notification notification--today [ js-notification ]">
    <div class="notification__container">
      <span class="notification__date">Today</span>
      <span class="notification__avatar"></span>
      <span class="notification__person">Dan Frown</span>
      <span class="notification__message">
        restarted the applicationa <a href="@">link here</a>
      </span>
      <span class="notification__time">3:41pm</span>
    </div>
  </section><!-- /Notification -->

  <section class="notification notification--today [ js-notification ]">
    <div class="notification__container">
      <span class="notification__date">Today</span>
      <span class="notification__avatar"></span>
      <span class="notification__person">Dan Frown</span>
      <span class="notification__message">
        restarted the applicationa <a href="@">link here</a>
      </span>
      <span class="notification__time">3:41pm</span>
    </div>
  </section><!-- /Notification -->

  <!-- Notification -->
  <section class="notification [ js-notification ]">
    <div class="notification__container">
      <span class="notification__date">24th May</span>
      <span class="notification__avatar"></span>
      <span class="notification__person">Dan Frown</span>
      <span class="notification__message">
        restarted the applicationa <a href="@">link here</a>
      </span>
      <span class="notification__time">3:41pm</span>
    </div>
  </section><!-- /Notification -->
  <!-- Notification -->
  <section class="notification [ js-notification ]">
    <div class="notification__container">
      <span class="notification__date">24th May</span>
      <span class="notification__avatar"></span>
      <span class="notification__person">Dan Frown</span>
      <span class="notification__message">
        restarted the applicationa <a href="@">link here</a>
      </span>
      <span class="notification__time">3:41pm</span>
    </div>
  </section><!-- /Notification -->
  <!-- Notification -->
  <section class="notification [ js-notification ]">
    <div class="notification__container">
      <span class="notification__date">24th May</span>
      <span class="notification__avatar"></span>
      <span class="notification__person">Dan Frown</span>
      <span class="notification__message">
        restarted the applicationa <a href="@">link here</a>
      </span>
      <span class="notification__time">3:41pm</span>
    </div>
  </section><!-- /Notification -->

</section>
