<!-- Media servers -->
<section class="section section-media-servers">

  <h3 class="section__title">
    Media Servers
    <a href="#" class="section__edit"><span class="nm-icon"></span>Edit</a>
  </h3>

  <!-- Progress container -->
  <div class="progress-container">
    <span class="progress-server"></span>
    <p class="progress-info progress-info--right">Max: 20</p>
    <p class="progress-info progress-notification progress-info--left">Information</p>
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        style="width: 50%"
        aria-valuenow="11"
        aria-valuemin="0"
        aria-valuemax="20">
<!--         <span class="progress-label">test</span> -->
      </div>
    </div>
  </div><!-- Progress container -->

</section><!-- /Media servers -->




<!-- Section scale -->
<section class="section-scale">
  <div class="section-scale__column section-scale__in">
    <span class="nm-icon icon-arrow-right"></span>
    Scale IN treshold <span class="section-scale__number-in">4</span>
  </div>

  <div class="section-scale__column section-scale__out">
    <span class="nm-icon icon-arrow-left"></span>
    Scale OUT treshold <span class="section-scale__number-out">4</span>
  </div>

</section><!-- /Section scale -->




<!-- Addons -->
<section class="section">

  <h3 class="section__title">
    Add-ons
    <a href="#" class="section__edit"><span class="nm-icon"></span>Edit</a>
  </h3>


  <!-- /Addons container -->
  <section class="addons-container">

    <!-- Addon -->
    <article class="addon">
      <div class="addon__container">
        <div class="addon__content">
          <span class="addon__image cdn"></span>
          <p class="addon__title">CDN Conector</p>
        </div>
      </div>
    </article><!-- /Addon -->

    <!-- Addon -->
    <article class="addon">
      <div class="addon__container">
        <div class="addon__content">
          <span class="addon__image cloud"></span>
          <p class="addon__title">Cloud Repository</p>
        </div>
      </div>
    </article><!-- /Addon -->

  </section><!-- /Addons container -->

</section><!-- /Addons -->

