<!-- Form app settings-->
<form class="form form-horizontal form-app-settings">

  <!-- Form section -->
  <section class="form__section">

    <h3 class="form__section-title clearfix">
      General
      <p class="pull-right"><a href="#" data-toggle="modal" data-target="#jsonInfo">Show JSON</a></p>
    </h3>

    <div class="form-group input">
      <label class="col-md-4 control-label input__label">
        Application route
      </label>

      <div class="col-md-8">
        <a ng-href="{{'https://' + application.route}}" target="_blank">{{'https://' + application.route}}</a>
      </div>
    </div>

    <div class="form-group input">
      <label class="col-md-4 control-label input__label">
        Application name
      </label>

      <div class="col-md-8">
        <input type="text" class="form-control input__field" value="{{application.name}}" readonly>
      </div>
    </div>

    <div class="form-group input">
      <label class="col-md-4 control-label input__label">
        Project name
      </label>

      <div class="col-md-8">
        <input type="text" class="form-control input__field" value="{{application.projectName}}" readonly>
      </div>
    </div>

    <div ng-repeat="(key, value) in application" ng-if="key!='name' && key!='projectName' && key!='route' && key!='targetPorts' && key!='mediaServerGroup'" class="form-group input">

      <div ng-if="key === 'protocols'">

        <label class="col-md-4 control-label input__label">
          Ports
        </label>

        <div class="col-md-8">

          <div class="row">
            <label class="input__label col-xs-4">Port</label>
            <label class="input__label col-xs-4">Target Prot</label>
            <label class="input__label col-xs-4">Protocol</label>
          </div><!-- /row -->

          <div class="row" ng-repeat="item in value track by $index">

            <div class="col-xs-4">
              <input
                type="text"
                class="form-control input__field u-mt-5"
                value="{{application.ports[$index]}}"
                readonly>
            </div><!-- col -->

            <div class="col-xs-4">
              <input
                type="text"
                class="form-control input__field u-mt-5"
                value="{{application.targetPorts[$index]}}"
                readonly>
            </div><!-- col -->

            <div class="col-xs-4">
              <input
                type="text"
                class="form-control input__field u-mt-5"
                value="{{item}}"
                readonly>
            </div><!-- col -->

          </div><!-- row -->

        </div><!-- col -->

      </div>

      <div ng-if="key !== 'protocols'">
        <label class="col-md-4 control-label input__label">
          <span ng-if="key == 'scaleInOut'">
             Scale out limit
          </span>

          <span ng-if="key == 'scaleOutThreshold'">
             Scale out trigger
          </span>

          <span ng-if="key != 'scaleOutThreshold' && key != 'scaleInOut'">
             {{key}}
          </span>
        </label>

        <div class="col-md-8">
          <input type="text" class="form-control input__field" value="{{value}}" readonly>
        </div>
      </div>
    </div>

  </section><!-- /Form section -->



  <!-- Media Server Group -->
  <section class="form__section">

    <h3 class="form__section-title clearfix">
      Media Server Group
    </h3>

    <div class="form-group input">
      <label class="col-md-4 control-label input__label">ID:</label>
      <div class="col-md-8">
        <input type="text" class="form-control input__field" value="{{application.mediaServerGroup.id}}" readonly>
      </div>
    </div><!-- /input -->

    <div class="form-group input">
      <label class="col-md-4 control-label input__label">NSD ID:</label>
      <div class="col-md-8">
        <input type="text" class="form-control input__field" value="{{application.mediaServerGroup.nsdID}}" readonly>
      </div>
    </div><!-- /input -->

    <div class="form-group input">
      <label class="col-md-4 control-label input__label">NSR ID:</label>
      <div class="col-md-8">
        <input type="text" class="form-control input__field" value="{{application.mediaServerGroup.nsrID}}" readonly>
      </div>
    </div><!-- /input -->

    <div class="form-group input" ng-if="application.mediaServerGroup.hostnames">
      <label class="col-md-4 control-label input__label">host names:</label>
      <div class="col-md-8">
        <input
          ng-repeat="item in application.mediaServerGroup.hostnames track by $index"
          type="text"
          class="form-control input__field u-mb-5"
          value="{{item}}" readonly>
      </div>
    </div><!-- /input -->

    <div class="form-group input" ng-if="application.mediaServerGroup.floatingIPs">
      <label class="col-md-4 control-label input__label">floatingIPs:</label>
      <div class="col-md-8">
        <input
          ng-repeat="item in application.mediaServerGroup.floatingIPs track by $index"
          type="text"
          class="form-control input__field u-mb-5"
          value="{{item}}" readonly>
      </div>
    </div><!-- /input -->

  </section><!-- /Media Server Group -->

  <!-- Actions -->
  <section class="form__section">
    <h3 class="form__section-title">Actions</h3>
    <!-- Delete the application -->
    <div class="form-group input">

      <label for="app-kms" class="col-md-4 control-label input__label">
        Delete the application
        <span class="input__subtitle">
          Use this carefull, the process is ireversible
        </span>
      </label>

      <div class="col-md-8">
        <span class="btn btn-danger" ng-click="deleteAppModal(application)">Delete</span>
      </div>
    </div>
  </section><!-- /Actions -->

</form>

<!-- Delete single app modal -->
<div ng-include src="'./templates/delete-app-modal.html'"></div>
