<!-- Form app settings-->
<form class="form form-horizontal form-app-settings">
  <!-- Form section -->
  <section class="form__section">

    <h3 class="form__section-title clearfix">
      All settings
      <p class="pull-right"><a href="#" data-toggle="modal" data-target="#jsonInfo">Show JSON</a></p>
    </h3>

    <div class="form-group input">
      <label class="col-md-4 control-label input__label">
        Application name
      </label>

      <div class="col-md-8">
        <input type="text" class="form-control input__field" value="{{application.name}}" readonly>
      </div>
    </div>

    <div class="form-group input">
      <label class="col-md-4 control-label input__label">
        Project name
      </label>

      <div class="col-md-8">
        <input type="text" class="form-control input__field" value="{{application.projectName}}" readonly>
      </div>
    </div>

    <div ng-repeat="(k,v) in application" ng-if="k!='name' && k!='projectName'" class="form-group input">
      <label class="col-md-4 control-label input__label">
        {{k}}
      </label>

      <div class="col-md-8">
        <input type="text" class="form-control input__field" value="{{v}}" readonly>
      </div>
    </div>

    <!-- Upload to marketplace -->
    <div class="form-group input">

      <label for="app-kms" class="col-md-4 control-label input__label">
        Upload to marketplace
        <span class="input__subtitle">
          Your app will be available in our store.
        </span>
      </label>

      <div class="col-md-8">
        <span class="btn btn--white" ng-click="sendApp('market', 'fromSettings', application)">Add now</span>
      </div>

    </div><!-- /Upload to marketplace -->

    <!-- Delete the application -->
    <div class="form-group input">

      <label for="app-kms" class="col-md-4 control-label input__label">
        Delete the application
        <span class="input__subtitle">
          Use this carefull, the process is ireversible
        </span>
      </label>

      <div class="col-md-8">
        <span class="btn btn-danger" ng-click="deleteAppModal(application)">Delete</span>
      </div>
    </div>

  </section><!-- /Form section -->

</form>

<!-- Delete single app modal -->
<div ng-include src="'./templates/delete-app-modal.html'"></div>
