<!-- Login section -->
<section class="login-section">

  <img src="img/nubomedia-logo.png" alt="Company logo" class="logo">

  <div class="form-login-container">

    <!-- Form login -->
    <form class="form form-login" ng-submit="login(credential)">

      <p ng-if="loginError" class="text-danger">
        The Username or password isn't valid!
      </p>

      <!-- User -->
      <div class="form-group">
        <input
          placeholder="You username"
          ng-model="credential.username"
          class="form-control form-login__input"
          type="text"
          name="email"
          autofocus>
      </div>

      <!-- Password -->
      <div class="form-group">
        <input
          placeholder="Password"
          ng-model="credential.password"
          class="form-control form-login__input"
          type="password"
          name="password"
          value="">
      </div>

      <button class="btn btn-primary form-login__submit">Login</button>

    </form><!-- /Form login -->

    <section class="form-login__info">
      <div class="row">

        <div class="form-login__column column col-xs-6">
          <p><a href="http://www.nubomedia.eu/" target="_blank">Documentation Support</a></p>
        </div><!-- /col -->

        <div class="form-login__column column col-xs-6">

          <p class="form-login__create-account">
            <a href="mailto:nubomedia-admin@google.com?Subject=NUBOMEDIA%20Create%20new%20account" target="_top">Create a new account</a>
          </p>

          <p>
            <a href="mailto:nubomedia-admin@google.com?Subject=NUBOMEDIA%20Reset%20password" target="_top">Lost password?</a>
          </p>

        </div><!-- /col -->


      </div><!-- /row -->
    </section>

  </div><!-- /form login container -->

</section><!-- /Login section -->
