<div class="row">
    <div class="col-lg-12">
        <h1>
            Application
            <small>Information</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>
                Overview</a></li>
            <li><a href="#applications"><i class="fa fa-tasks"></i>
                Applications</a></li>
            <li class="active"><i class="fa fa-bar-chart-o"></i>
                {{application.appName}}
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
            <div ng-bind-html="alert.msg"></div>
        </alert>


        <h2>Application</h2>
        <a href="#" data-toggle="modal" data-target="#jsonInfo">Show JSON</a>
        <br/>
        <dl class="dl-horizontal">
            <spam ng-if="application.route">
                <dt>route</dt>
                <dd><a href="https://{{application.route}}" target="_blank">{{application.route}}</a></dd>
            </spam>
            <spam ng-repeat="(k,v) in application" ng-if="k!='route'">
                <dt>{{k}}</dt>
                <dd>{{v}}</dd>
            </spam>
        </dl>

    </div>
</div>
<div class="row" ng-show="application">
    <div class="col-lg-12">
        <div class="pull-right">
            <button id="get_log" class="btn btn-primary"
                    title="Loads the buildlogs" ng-click="loadLog()">Load Log
            </button>

            <button style="padding-left: 20px" id="get_log_app" class="btn btn-primary" ng-disable="checkStatus()"
                    title="Loads the App logs" ng-click="loadAppLog()">App Log
            </button>
        </div>
    </div>
</div>
<br/>
<div class="row" ng-show="log">
    <div class="col-lg-12">
        <pre id="log" ng-bind-html="log"></pre>

    </div>
</div>
<!-- /.wrapper -->


<div class="modal" id="jsonInfo" tabindex="" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">JSON of Topology: {{application.appName}}</h4>
            </div>
            <div class="modal-body">
                <pre id="json">{{applicationJSON}}</pre>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeModal" class="btn btn-default"
                        data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>