<div class="row">
    <div class="col-lg-12">
        <h1>Applications</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>
                Overview</a></li>
            <li class="active"><i class="fa fa-tasks"></i>
                Applications</li>
        </ol>
    </div>
</div>
<div class="row" >
    <div class="col-lg-12">
        <button id="btn_create_topology" class="btn btn-primary pull-right"
                title="Create a new App" ng-click="createApp()">Create App</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 top-buffer">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
            <div ng-bind-html="alert.msg"></div>
        </alert>

        <div class="table-responsive" ng-if="apllications.length > 0">
            <table
                    class="table table-bordered table-striped table-hover tablesorter"
                    id="topoTabletable">
                <thead>
                <tr>
                    <th ng-click="predicate = 'appID';reverse = !reverse">appID <i class="fa fa-sort"></i></th>
                    <th ng-click="predicate = 'appName';reverse = !reverse">appName <i class="fa fa-sort"></i></th>
                    <th ng-click="predicate = 'flavor'; reverse = !reverse">flavor <i class="fa fa-sort"></i></th>
                    <th ng-click="predicate = 'projectName'; reverse = !projectName">projectName <i class="fa fa-sort"></i></th>
                    <th ng-click="predicate = 'status'; reverse = !status">status <i class="fa fa-sort"></i></th>
                    <th>Action </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in apllications| orderBy:predicate:reverse">
                    <td><a href="#applications/{{data.appID}}">{{data.appID}}</a></td>
                    <td>{{data.appName}}</td>
                    <td>{{data.flavor}}</td>
                    <td>{{data.projectName}}</td>
                    <td>{{data.status}}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li class="divider"></li>
                                <li><a href=""  ng-click="deleteData(data.appID)">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>


<div class="modal " id="modalT" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="serviceFormLabel">Create Topology</h4>
            </div>
            <div class="modal-body">
                <tabset>
                    <tab heading="Form">
                        <form class="form-horizontal" name="formApp" id="formModalL">
                            <br/>
                            <div class="form-group" ng-repeat="(key,value) in appCreate"
                                 ng-if="key!='lifecycle_event' && key!='monitoring_parameter'
                         && key!='vm_image'&& key!='vnfc' && key!='vimInstanceName'">
                                <label for="{{key}}" class="col-sm-4 control-label">{{key}}</label>

                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="{{key}}" name="{{key}}"
                                           ng-model="appCreate[key]"/>
                                </div>
                            </div>



                        </form>


                    </tab>
                    <tab heading="Json">
                        <form role="form" id="formJson">
                            <div class="form-group">
                                <br> <label for="jsonInputArea">Insert Your Json</label>
                                <textarea name="textTopologyJson" ng-model="textTopologyJson" id="jsonInputArea" class="form-control" rows="5"
                                          placeholder="{ }" ng-change="changeText(textTopologyJson)"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="jsonInputFile">File input</label>
                                <input type="file" id="jsonInputFile" onchange="angular.element(this).scope().setFile(this)" >
                                <p class="help-block">Example: reqApp.json </p>
                            </div>
                        </form>
                    </tab>

                </tabset>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeModal" class="btn btn-default"
                        data-dismiss="modal">Close</button>
                <button type="button" id="sendTemplate"
                        data-dismiss="modal"
                        class="btn btn-primary" ng-click="sendApp()">Create App</button>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->

<div class="modal" id="addContainerModal" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="serviceFormLabel">Add Service</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="formDC" id="formModalL">
                    <div class=" form-group">
                        <label for="typeSelect" class="col-sm-4 control-label">service</label>
                        <div class="input-group col-sm-5">
                            <select name="typeSelect" class="form-control " ng-model="selection" ng-options="service as service.service_type for service in services" ng-change="changeSelection(selection)" >
                            </select>
                        </div>
                    </div>
                </form>
                <tabset ng-if="selService">
                    <tab heading="Details" >
                        <br>
                        <form class="form-horizontal" role="form" name="formForm" novalidate>
                            <div class="form-group" ng-show="selService">
                                <label for="{{selService.name}}" class="col-sm-4 control-label">name</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="{{selService.name}}" name="{{selService.name}}"
                                           ng-model="selService.name" ng-init="selService.name = selService.service_type + '-' + getRandom()" />
                                </div>
                            </div>
                            <!--<div ng-repeat="(key,value) in selService">-->
                            <div class="form-group" ng-show="selService.configuration" ng-repeat="(k,v) in selService.configuration track by $index">
                                <label for="{{k}}" class="col-sm-4 control-label">{{k}}</label>
                                <div class="col-sm-5 input-group">
                                    <input type="text" class="form-control" id="{{k}}" name="{{k}}"
                                           ng-model="selService.configuration[k]" placeholder="{{v}}"/>
                                    <span class="input-group-addon">config</span>
                                </div>
                            </div>

                            <div class="form-group" ng-show="selService.flavor">
                                <label for="{{selService.flavor.name}}" class="col-sm-4 control-label">flavor</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="{{selService.flavor.name}}" name="{{selService.flavor.name}}"
                                           ng-model="selService.flavor.name" />

                                </div>
                            </div>
                            <div class="form-group" ng-show="selService.key.name" >
                                <label for="key" class="col-sm-4 control-label">key</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="key" name="key"
                                           ng-model="selService.key.name"/>

                                </div>
                            </div>
                            <div class="form-group"  ng-show="selService.size" >
                                <label for="size" class="col-sm-4 control-label">size</label>
                                <div class="col-sm-1">
                                    min
                                    <input type="text" class="form-control" id="min" name="min"
                                           ng-model="selService.size.min" />

                                </div>
                                <div class="col-sm-1">
                                    max
                                    <input type="text" class="form-control" id="max" name="max"
                                           ng-model="selService.size.max"/>

                                </div>
                                <div class="col-sm-1">
                                    default
                                    <input type="text" class="form-control" id="def" name="def"
                                           ng-model="selService.size.def"/>

                                </div>
                            </div>
                            <!--</div>-->



                        </form>
                    </tab>


                    <tab heading="Networks" >
                        <br>
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="col-sm-offset-2" ng-repeat="network in networksService track by $index" >
                                    <div class="pull-right">
                                        <a href="" title="Delete Data" ng-click="deleteNetwork($index)">  <i class="fa fa-trash-o"> </i></a>
                                    </div>
                                    <span class="" ng-repeat="(k,v) in network" >
                                        <dt>{{k}}:</dt> <dd>{{v}}</dd>
                                    </span>
                                    <hr>
                                </div>
                                <div class="pull-right">

                                    <a href="" title="Add a new Policy for this Service" data-toggle="modal" data-target="#modalNetwork">
                                        <i class="fa fa-plus-circle"> Add Network</i>
                                    </a>
                                </div>
                            </div>

                        </div>

                    </tab>
                    <tab heading="Requirements" >
                        <br>
                        <form class="form-horizontal" role="form" name="formContainer" novalidate>
                            <div class="" ng-repeat="req in requires track by $index">
                                <div class="checkbox well well-lg">
                                    <label class="">
                                        <input type="checkbox" ng-model="req.checked" name="subnets" id="{{$index}}" value="{{req.source}}" ng-change="selectSubnets(req)">
                                        <p><b>source:</b> {{req.source}} </p>
                                    </label>


                                    <div collapse="!req.checked">
                                        <div class="form-group">
                                            <label for="name" class="col-sm-4 control-label">name</label>
                                            <div class="col-sm-5 input-group">
                                                <input type="text" class="form-control parameters"
                                                       ng-model="req.name" ng-init="req.name = '$BROKER_IP'" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="name" class="col-sm-4 control-label">parameter</label>
                                            <div class="col-sm-5 input-group">
                                                <input type="text" class="form-control parameters"
                                                       ng-model="req.parameter" ng-init="req.parameter = 'private_ip'" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="name" class="col-sm-4 control-label">obj_name</label>
                                            <div class="col-sm-5 input-group">
                                                <input type="text" class="form-control parameters"
                                                       ng-model="req.obj_name" ng-init="req.obj_name = 'Network-1'"/>
                                            </div>
                                        </div>

                                        <!--                                        "name":"$BROKER_IP",
                                                                                "parameter":"private_ip",
                                                                                "source":"Broker",
                                                                                "obj_name": "Network-1"-->
                                    </div>

                                </div>
                                <br/>

                            </div>
                        </form>
                    </tab>
                    <tab heading="Policies" >
                        <br>
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="row">
                                    <div class="col-sm-offset-4">
                                        <div class="col-sm-2">
                                            <label class="">min_size</label>
                                            <input type="number" class="form-control" ng-model="elasticity.min_size">
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="">max_size</label>
                                            <input type="number" class="form-control " ng-model="elasticity.max_size">
                                        </div>
                                    </div>

                                </div>
                                <br/>
                                <div ng-repeat="poli in policies track by $index">
                                    {{poli.name}}
                                    &nbsp; &nbsp; &nbsp; &nbsp;
                                    <i class="fa fa-bell-o"></i> name: {{poli.alarm.meter_name}} sign: {{poli.alarm.comparison_operator}} period: {{poli.period}}
                                    &nbsp; &nbsp; &nbsp; &nbsp;
                                    <i class="fa fa-magic"></i> {{poli.action.adjustment_type}} unit: {{poli.action.scaling_adjustment}} cooldown: {{poli.action.cooldown}}
                                    <div class="pull-right">
                                        <a href="" title="Delete Policy" ng-click="deletePolicy($index)">  <i class="fa fa-trash-o"> </i></a>
                                    </div>
                                    <hr/>
                                </div>
                                <div class="pull-right">

                                    <a href="" title="Add a new Policy for this Service" data-toggle="modal" data-target="#modalPolicy">
                                        <i class="fa fa-plus-circle"> Add Policy</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="User data" >
                        <br>
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="row " ng-repeat="userdata in userdatas track by $index">
                                    <div class="col-md-12 ">
                                        <div class="pull-right">
                                            <a href="" title="Delete Data" ng-click="deleteUserData($index)">  <i class="fa fa-trash-o"> </i></a>
                                        </div>
                                        <div class="userdata col-md-12">

                                            {{userdata}}
                                            <hr>
                                        </div>
                                    </div>

                                </div>
                                <div class="pull-right">

                                    <a href="" title="Add a new Policy for this Service" data-toggle="modal" data-target="#modalData">
                                        <i class="fa fa-plus-circle"> Add Data</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeModal" class="btn btn-default"
                        class="close"
                        aria-hidden="true"
                        data-dismiss="modal">Close</button>
                <button type="button" id="sendTopology"
                        ng-class="{'disabled': false}"
                        data-dismiss="modal"
                        ng-click="addServiceSel()" class="btn btn-primary">Add Service</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalPolicy">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="serviceLabel">Create a Policy for Service: {{selService.service_type}}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">

                    <div class="form-group">
                        <label for="name" class="col-sm-2 col-sm-offset-2 control-label">name</label>
                        <div class="col-sm-6 input-group">
                            <input type="text" name="name" class="form-control" ng-model="policy.name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-2 col-sm-offset-4 " style="margin-right: 50px">
                                <label class="">Period</label>
                                <!--                            {{policy.period}}-->
                                <!--<input class="" type="range" min="0" max="100" ng-model="policy.period" ng-init="policy.period = '60'" size="20" id="periodAlert" />-->
                                <input type="number" class="form-control"  ng-model="policy.period" >

                            </div>
                        </div>
                    </div>

                    <h4 class="">Alarm</h4>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class=" ">Meter name</label>
                            <input type="text" class="form-control"  ng-model="policy.alarm.meter_name" >
                        </div>

                        <div class=" col-sm-2">
                            <label class="">sign</label>
                            <select name="typeSelect" class="form-control modal-select" ng-model="policy.alarm.comparison_operator" ng-options="item.label as item.value for item in signs| orderBy:'signs':false"></select>
                        </div>
                        <div class="col-sm-2">
                            <label class=" ">Statistic</label>
                            <input type="text" class="form-control"  ng-model="policy.alarm.statistic" >
                        </div>
                        <!--                    <div class="col-sm-2">
                                                <label class=" ">Eval periods</label>
                                                <input type="number" class="form-control"  ng-model="policy.alarm.evaluation_periods" >
                                            </div>-->
                        <div class="col-sm-2 pull-right">
                            <label class="">Threshold</label>
                            <!--{{policy.alarm.threshold}}-->
                            <!--<input class="" type="range" min="0" max="100" ng-model="policy.alarm.threshold" ng-init="policy.alarm.threshold = '50'" size="20" id="periodAlert" />-->
                            <input type="number" class="form-control"  ng-model="policy.alarm.threshold" >
                        </div>
                    </div>
                    <hr/>
                    <h4 class="">Action</h4>
                    <div class="row">

                        <div class="col-sm-4">
                            <label class=" ">Adjustment type</label>
                            <input type="text" class="form-control"  ng-model="policy.action.adjustment_type" >
                        </div>
                        <div class="col-sm-3">
                            <label class=" ">Scaling adjustment</label>
                            <input type="number" class="form-control"  ng-model="policy.action.scaling_adjustment" >
                        </div>
                        <div class="col-sm-2 pull-right">
                            <label class=" ">Cooldown</label>
                            <!--{{policy.action.cooldown}}-->
                            <!--<input class="" type="range" min="0" max="100" ng-model="policy.action.cooldown" ng-init="policy.action.cooldown = '60'" size="20" id="periodAction" />-->
                            <input type="number" class="form-control"  ng-model="policy.action.cooldown" >
                        </div>
                    </div>
                    <hr/>

                    <h4 class="">Custom Actions</h4>


                    <div class="checkbox">

                        <label class="checkbox" for="customActions" >
                            <input type="checkbox" ng-model="customActions" name="group" id="customActions" />
                            Add a Custom Action?
                        </label>
                        <br/>

                    </div>
                    <div class="row" collapse="!customActions">
                        <div class="row">
                            <div class="col-md-12">
                                <div class=" form-group">
                                    <label for="typeSelect" class="col-sm-4 control-label">custom action</label>
                                    <div class="input-group col-sm-5">
                                        <select name="typeSelect" class="form-control " ng-model="customAct" ng-options="ca as ca.type for ca in custom_actions" >
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-sm-2" ng-repeat="(k,v) in customAct.configuration">
                                    <label class=" ">{{k}}</label>
                                    <input type="number" class="form-control"  ng-model="customAct.configuration[k]" >
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeModal" class="btn btn-default"
                        data-dismiss="modal">Close</button>
                <button type="button" id="addPolicy" class="btn btn-primary" data-dismiss="modal" ng-click="addPolicy()">Add
                    Policy</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalData">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="serviceLabel">Add a new User data for Service: {{selService.service_type}}</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <div class="form-group">
                        <br> <label for="jsonInputArea">Insert your data</label>
                        <textarea name="textTopologyJson" ng-model="textUserData" id="jsonInputArea" ng-change="updateTextarea(textUserData)"class="form-control" rows="6"
                                  placeholder="#"></textarea>
                    </div>
                </div>
                <br/>

            </div>
            <div class="modal-footer">
                <button type="button" id="closeModal" class="btn btn-default"
                        data-dismiss="modal">Close</button>
                <button type="button" id="addData" class="btn btn-primary" data-dismiss="modal" ng-click="addUserData()">Add
                    Data</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalNetwork">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="serviceLabel">Add a new Network to Service: {{selService.service_type}}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" name="formForm" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name" class="col-sm-4 control-label">name</label>
                                <div class="col-sm-5 input-group">
                                    <input type="text" name="name" class="form-control" ng-model="network.name">
                                    <!--                            <p>{{value}}</p>-->
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class=" form-group">
                                <label for="typeSelect" class="col-sm-4 control-label">private_net</label>
                                <div class="input-group col-sm-5">
                                    <select name="typeSelect" class="form-control " ng-model="network.private_net" ng-options="network.ext_id as network.name for network in networks | filter:network.public='false'" ng-change="selectAction()" >
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class=" form-group">
                                <label for="typeSelect" class="col-sm-4 control-label">private_subnet</label>
                                <div class="input-group col-sm-5">
                                    <select name="typeSelect" class="form-control " ng-model="network.private_subnet" ng-options="network.ext_id as network.name for network in private_networks" ng-change="selectAction()">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class=" form-group">
                                <label for="typeSelect" class="col-sm-4 control-label">public_net</label>
                                <div class="input-group col-sm-5">
                                    <select name="typeSelect" class="form-control " ng-model="network.public_net" ng-options="network.ext_id as network.name for network in networks | filter:network.public='true'" ng-change="selectAction()">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-offset-4">
                            <div class="checkbox">
                                <span ng-repeat="secgroup in secgroups">
                                    <label class="checkbox" for="{{secgroup.id}}" >
                                        <input type="checkbox" ng-model="selectionSecGr[secgroup.name]" name="group" id="{{secgroup.id}}" />
                                        {{secgroup.name}}
                                    </label>
                                    <br/>
                                </span>
                            </div>
                        </div>
                    </div>

                    <br/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeModal" class="btn btn-default"
                        data-dismiss="modal">Close</button>
                <button type="button" id="addData" class="btn btn-primary" data-dismiss="modal" ng-click="addNetwork()">Add
                    Network</button>
            </div>
        </div>
    </div>
</div>


