.c-table
  th
    border-bottom: 1px solid $color-gray--secondary !important
    padding-top: 20px !important
    padding-bottom: 20px !important
    background: #e8e8e8!important
    text-transform: uppercase
    font-size: 14px

  td
    padding: 20px 10px!important
    vertical-align: middle!important
    border: none !important

  th:first-child,
  td:first-child
    vertical-align: middle !important
    text-align: center !important

  th[ng-click]
    cursor: pointer
