<!-- Breadcrum container -->
<section class="breadcrumb-container clearfix" ng-show="!createFormViewIsVisible">

  <div class="row">

    <div class="col-xs-12 col-md-7">
      <!-- Breadcrum -->
      <ul class="c-breadcrumb">

        <li class="c-breadcrumb__item" >
          <a href="/" ng-click="resetCreateFormView()">Overview</a>
        </li>

        <li class="c-breadcrumb__item is-active">
          <a href="#/users">Users</a>
        </li>

      </ul><!-- Breadcrum -->
    </div><!-- /col -->

    <div class="col-xs-12 col-md-5 text-right">

      <button
        id="btn_create_nsd"
        href="#"
        class="btn btn--white"
        title="Add new user"
        ng-click="toggleCreateFormView()">
        <span class="glyphicon glyphicon-plus-sign text-primary"></span>
        Add new User
      </button>


      <button
        id="deleteMultiple"
        href="#"
        ng-disabled="multipleDelete"
        class="btn btn-danger"
        title="Delete all the items selected"
        data-target="#deleteModal"
        data-toggle="modal">
        Delete
      </button>

    </div><!-- /col -->

  </div><!-- /row -->

</section><!-- /Breadcrum container -->




<!-- Breadcrum container -->
<section class="breadcrumb-container clearfix" ng-show="createFormViewIsVisible">
  <ul class="c-breadcrumb">

    <li class="c-breadcrumb__item">
      <a href="#/" ng-click="resetCreateFormView()">Overview</a>
    </li>

    <li class="c-breadcrumb__item">
      <a href="#/users" ng-click="resetCreateFormView()">Users</a>
    </li>

    <li class="c-breadcrumb__item">
      <span>Create new user<span>
    </li>

  </ul><!-- Breadcrum -->
</section><!-- /Breadcrum container -->




<!-- Users -->
<section class="users" ng-show="!createFormViewIsVisible">

  <alert
    ng-repeat="alert in alerts"
    type="alert.type"
    close="closeAlert($index)">
    <div ng-bind-html="alert.msg"></div>
  </alert>

  <section class="table-responsive" ng-show="users.length>0">
    <table class="table table-striped table-hover tablesorter c-table">

      <thead>
        <tr>

          <th>
            <label class="control control--no-text control control--checkbox">
              <input type="checkbox" ng-model="main.checkbox">
              <div class="control__indicator"></div>
            </label>
          </th>


          <th ng-click="predicate = 'id'; reverse = !reverse">
            Id <i class="fa fa-sort"></i>
          </th>

          <th ng-click="predicate = 'username'; reverse = !reverse">
            Username <i class="fa fa-sort"></i>
          </th>

          <th ng-click="predicate = 'enabled'; reverse = !reverse">
            Enabled <i class="fa fa-sort"></i>
          </th>

          <th ng-click="predicate = 'roles'; reverse = !reverse">
            Roles <i class="fa fa-sort"></i>
          </th>

          <th>Actions <i class="fa"></i></th>

        </tr>
      </thead>

      <tbody>
        <tr
          ng-repeat="data in users| filter:search|orderBy:predicate:reverse">

          <td>
            <label
              class="control control--no-text control control--checkbox">
              <input
                type="checkbox"
                ng-init="selection.ids[data.username] = false"
                ng-model="selection.ids[data.username]"
                name="group"
                id="{{data.id}}">
              <div class="control__indicator"></div>
            </label>
          </td>


          <td><a href="#users/{{data.username}}">{{data.id}} </a></td>

          <td>{{data.username}}</td>

          <td>{{data.enabled}}</td>

          <td>
            <span ng-repeat="role in data.roles">
              <b>project</b>: {{role.project}}, <b>role</b>: {{role.role}}
              <span ng-if="!$last">; </span>
            </span>
          </td>

          <td>

            <!-- Dropdown -->
            <div class="list-btn dropdown c-dropdown">

              <button
                class="btn dropdown-toggle c-dropdown__toggle"
                type="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true">
                Actions
              </button>

              <ul class="dropdown-menu c-dropdown__menu">
                <li  class="c-dropdown__item">
                  <span ng-click="deleteEvent(data)">Delete</span>
                </li>
              </ul>

            </div><!-- /Dropdown -->

          </td>

        </tr>
      </tbody>

    </table>
  </section>

</section><!-- Users -->




<form
  role="form"
  class="form form-horizontal form-new-user"
  ng-show="createFormViewIsVisible">

  <!-- Form section -->
  <section class="form__section">

    <h3 class="form__section-title">General</h3>

    <!-- Username -->
    <div class="form-group input">
      <label for="username" class="col-sm-4 control-label input__label">
        Username
      </label>
      <div class="col-sm-6">
        <input
          type="text"
          class="form-control input__field"
          id="username"
          name="username"
          ng-model="userObj.username"/>
      </div>
    </div><!-- /Username -->

    <!-- Password -->
    <div class="form-group input">
      <label for="pass" class="col-sm-4 control-label input__label">
        Password
      </label>

      <div class="col-sm-6">
        <input
          type="password"
          class="form-control input__field"
          id="pass"
          name="pass"
         ng-model="userObj.password"/>
      </div>
    </div><!-- Password -->

    <!-- ng repeat -->
    <div
      class="form-group input"
      ng-repeat="(key,value) in userObj"
      ng-if="key!=='username' && key!=='password' && key!=='roles'">
        <label for="{{key}}" class="col-sm-4 control-label input__label">
          {{key}}
        </label>

        <div class="col-sm-6">
          <input
            type="text"
            class="form-control input__field"
            id="{{key}}"
            name="{{key}}"
            ng-model="userObj[key]"/>
        </div>
    </div><!-- /ng repeat -->

  </section><!-- Form section -->

  <!-- Form section -->
  <section class="form__section">

    <h3 class="form__section-title">Roles</h3>

    <div class="form-group input" ng-repeat="role in userObj.roles track by $index">

      <label for="action" class="col-sm-1 control-label input__label">
        Project
      </label>

      <div class="col-sm-4">
        <!-- Select -->
        <div class="select">
          <select
            name="typeSelect"
            class="form-control modal-select"
            id="action"
            ng-model="userObj.roles[$index].project"
            ng-options="project.name as project.name for project in projects"
            ng-change="">
          </select>
          <div class="select__arrow"></div>
        </div>
      </div><!-- /col -->

      <label for="action" class="col-sm-1 control-label input__label">
        Role
      </label>

      <div class="col-sm-4">
        <!-- Select -->
        <div class="select">
          <select
            name="typeSelect"
            class="form-control modal-select"
            id="action"
            ng-model="userObj.roles[$index].role"
            ng-options="role for role in roles"
            ng-change="">
          </select>
          <div class="select__arrow"></div>
        </div>
      </div><!-- /col -->

      <div class="col-sm-2">
        <a href="" ng-click="userObj.roles.splice($index, 1)">
          <h4><li class="fa fa-trash"></li></h4>
        </a>
      </div>

    </div><!-- /form group -->

    <div class="form-group">
      <button
        class="btn btn--white u-ml-15"
        ng-click="userObj.roles.push(roleAdd)">
        Add more roles
      </button>
    </div>

  </section><!-- /Roles -->

  <button
    type="button"
    class="btn btn-primary form__submit pull-right"
    ng-click="save()">
    Save
  </button>

</form>






<!-- Modal create user -->
<section class="modal fade" tabindex="-1" role="dialog" id="createUser">
  <div class="modal-dialog">
    <div class="modal-content">

      <header class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Create a new User</h4>
      </header>

      <div class="modal-body">
        <form role="form" class="form form-horizontal">


          <!-- Form section -->
          <section class="form__section">

            <h3 class="form__section-title">General</h3>

            <!-- Username -->
            <div class="form-group input">
              <label for="username" class="col-sm-4 control-label input__label">
                Username
              </label>
              <div class="col-sm-6">
                <input
                  type="text"
                  class="form-control input__field"
                  id="username"
                  name="username"
                  ng-model="userObj.username"/>
              </div>
            </div><!-- /Username -->

            <!-- Password -->
            <div class="form-group input">
              <label for="pass" class="col-sm-4 control-label input__label">
                Password
              </label>

              <div class="col-sm-6">
                <input
                  type="password"
                  class="form-control input__field"
                  id="pass"
                  name="pass"
                 ng-model="userObj.password"/>
              </div>
            </div><!-- Password -->

            <!-- ng repeat -->
            <div
              class="form-group input"
              ng-repeat="(key,value) in userObj"
              ng-if="key!=='username' && key!=='password' && key!=='roles'">
                <label for="{{key}}" class="col-sm-4 control-label input__label">
                  {{key}}
                </label>

                <div class="col-sm-6">
                  <input
                    type="text"
                    class="form-control input__field"
                    id="{{key}}"
                    name="{{key}}"
                     ng-model="userObj[key]"/>
                </div>
            </div><!-- /ng repeat -->

          </section><!-- Form section -->




          <!-- Form section -->
          <section class="form__section">

            <h3 class="form__section-title">Roles</h3>

            <!-- Roles -->
            <section class="panel panel-default">

              <header class="panel-heading">
                <label
                  title="Add a new Role to this user"
                  class="control control--heading control--checkbox"
                  ng-click="userObj.roles.push(roleAdd)">
                    Add more roles
                    <span class="fa fa-plus-square text-primary add-protocol"></span>
                </label>
              </header>

              <div class="panel-body">
                <div class="form-group input"
                  ng-repeat="role in userObj.roles track by $index">

                  <label for="action" class="col-sm-1 control-label input__label">
                    Project
                  </label>

                  <div class="col-sm-4">
                    <!-- Select -->
                      <select
                        name="typeSelect"
                        class="form-control modal-select"
                        id="action"
                        ng-model="userObj.roles[$index].project"
                        ng-options="project.name as project.name for project in projects"
                        ng-change="">
                      </select>
                  </div><!-- /col -->

                  <label for="action" class="col-sm-1 control-label input__label">
                    Role
                  </label>

                  <div class="col-sm-4">
                    <!-- Select -->
                      <select
                        name="typeSelect"
                        class="form-control modal-select"
                        id="action"
                        ng-model="userObj.roles[$index].role"
                        ng-options="role for role in roles"
                        ng-change="">
                      </select>
                  </div><!-- /col -->

                  <div class="col-sm-2">
                    <a href="" ng-click="userObj.roles.splice($index, 1)">
                      <h4><li class="fa fa-trash"></li></h4>
                    </a>
                  </div>

                </div><!-- /form group -->

              </div><!-- /panel body -->

            </section><!-- /Roles -->




          </section><!-- /Form section -->

        </form>
      </div>

      <footer class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save()">Save</button>
      </footer>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</section><!-- /Modal create user -->




<!-- Modal delete user -->
<section class="modal fade" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete Alert</h4>
            </div>
            <div class="modal-body">
                <p>You have selected:</p>
                <ul ng-repeat="(k,v) in selection.ids" ng-if="v">
                    <li>{{k}}</li>
                </ul>
                <p>Please confirm your selection.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" ng-click="multipleDeleteReq()" data-dismiss="modal">Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</section><!-- /Modal delete user -->
