<!-- Dropdown -->
<div class="list-btn dropdown c-dropdown">

  <button
    class="btn dropdown-toggle c-dropdown__toggle"
    type="button"
    id="dropdownMenu1"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="true">
    Aggretated
  </button>

  <ul class="dropdown-menu c-dropdown__menu" aria-labelledby="dropdownMenu1">
    <li class="c-dropdown__item">Last 10 min</li>
    <li class="c-dropdown__item">Last 30 min</li>
    <li class="c-dropdown__item">Last day</li>
    <li class="c-dropdown__item">Last week</li>
  </ul>

</div><!-- /Dropdown -->
